@model List<Cliente>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Lista de Clientes</h1>

<table>
    <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Direccion</th>
        <th>Telefono</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.cliente_nom</td>
            <td>@item.cliente_dni</td>
            <td>@item.cliente_dir</td>
            <td>@item.cliente_tel</td>
        </tr>
    }
</table>

<h2>Menu:</h2>
<ul>  
    <li>
        <a href="@Url.Action("Listar", "Client")" >
            <span>Mostrar listado de clientes</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Client")" >
            <span>Mostrar listado de clientes</span>
        </a>
    </li>
</ul>