@model IEnumerable<AdmStock.Models.Venta>

@{
    ViewData["Title"] = "Ventas";
}

<h1>@ViewBag.Message</h1>

<div class="row"> 
    <div class="col-3">
        <a asp-action="Create">
            <input type="button" value="Nueva Venta" class="btn btn-info" />
        </a>
    </div>

    <div class="col-3">
        <a asp-action="Report">
            <input type="button" value="Generar Reporte" class="btn btn-info" />
        </a>
    </div>
</div>

<div class="form-group">
    @using (Html.BeginForm())
    {
        <ul id="searchForm">
            <li>
                <label class="form-label">Buscar por Fecha: </label>
                @Html.TextBox("searchDate", null, new {@class="form-control", @type = "date"})
            </li>
            <li>
                <label class="form-label">Buscar por Cliente: </label>
                @Html.TextBox("searchStrNom", null, new {@class="form-control"})
            </li>
            <li>
                <label class="form-label">Buscar por Producto: </label>
                @Html.TextBox("searchStrProd", null, new {@class="form-control"})
            </li>
            <li><input type="submit" value="Buscar" class="btn btn-info" /> </li>
        </ul>
    }
</div>

<div>
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.ActionLink("Fecha de Venta", "Index", new { sortOrder = @ViewBag.FecSortParm}, null)
                </th>
                <th scope="col">
                    @Html.ActionLink("Cliente", "Index", new { sortOrder = @ViewBag.CliSortParm}, null)
                </th>
                <th scope="col">
                    @Html.ActionLink("Producto", "Index", new { sortOrder = @ViewBag.ProdSortParm}, null)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.venta_cant)
                </th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.venta_fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.cliente_nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote.Productos.prod_nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.venta_cant)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.venta_id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.venta_id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.venta_id">Eliminar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
