@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    <li>
         <a href="@Url.Action("Index", "Clientes")" >
              <span>Clientes</span>
         </a>
    </li>
    <li>
         <a href="@Url.Action("Index", "Proveedores")" >
              <span>Proovedores</span>
         </a>
    </li>
    <li>
         <a href="@Url.Action("Index", "Productos")" >
              <span>Productos</span>
         </a>
    </li>
    <li>
         <a href="@Url.Action("Index", "Articulos")" >
              <span>Articulos</span>
         </a>
    </li>
    <li>
         <a href="@Url.Action("Index", "Ventas")" >
              <span>Ventas</span>
         </a>
    </li>
    <li>
         <a href="@Url.Action("Index", "Lotes")" >
              <span>Lotes</span>
         </a>
    </li>
</ul>
