@model IEnumerable<AdmStock.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prov_cuil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prov_nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prov_dir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prov_tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prov_cuil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prov_nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prov_dir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prov_tel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.prov_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.prov_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.prov_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
