@model AdmStock.Models.Lote

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro que deseas eliminar este lote?</h3>
<div>
    <h4>Lote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lote_cant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lote_cant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lote_precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lote_precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productos.prod_nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedores.prov_nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="lote_id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
